{{ define "buttonType"}}

{{ if eq .ButtonType "button" }}
<button type="button">{{ .FunctionName }}</button>

{{ else if eq .ButtonType "switch" }}
<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>

{{ else if eq .ButtonType "dropdown" }}
<select name={{ .FunctionName }} id={{ .FunctionName }}>
{{ range .Options}}
  <option value={{ .Message }}>{{ .Text }}</option>
{{end}}
</select>

{{ end }}
{{ end }}