{{ define "buttonType"}}

{{ if eq .ButtonType "button" }}
{{ template "button" . }}

{{ else if eq .ButtonType "switch" }}
{{ template "switch" . }}

{{ else if eq .ButtonType "dropdown" }}
{{ template "dropdown" . }}

{{ end }}
{{ end }}